<app-header title="Dashboard"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to BlackTower!</ion-card-title>
      <ion-card-subtitle>Software Developer Intern Technical Test</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <h2>Angular/Ionic elements</h2>
      </ion-label>
      <ul>
        <li>Item-List</li>
        <li>Loading</li>
        <li>Menu</li>
        <li>Modal</li>
        <li>Routing</li>
        <li>Segment</li>
        <li>Toobar</li>
      </ul>
      <ion-label>
        <h2>External elements</h2>
      </ion-label>
      <ul>
        <li>Charts</li>
      </ul>
      <ion-label>
        <h2>What is next?</h2>
      </ion-label>
      <p>Try <strong>Search</strong> menu option...</p>
    </ion-card-content>
  </ion-card>
</ion-content>